*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Norse Bold";
  src: url("../fonts/Norse-Bold.otf");
}

body {
  display: flex;
  height: 100vh;
}

.logo-wrapper {
  height: 100%;
  flex: 0.6 1 auto;
  background-image: url("../img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-family: "Norse Bold";
  font-size: 120px;
  margin-top: 200px;
  padding: 30px 0;
  background-color: #00000080;
}
.logo-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper address {
  text-align: center;
}

.logo-wrapper address a:visited {
  color: inherit;
}

.logo > img {
  object-fit: contain;
  width: 200px;
  height: 200px;
  display: inline-block;
}

:root {
  --user-padding-left: 80px;
  --user-padding-right: 200px;
}

main {
  flex: 2;
  display: flex;
  flex-direction: column;
}

main > div:not(div.form-wrapper) {
  background-color: #f0f0f0;
}

main > div {
  flex: 1;
}

main > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 60px;
  padding-left: var(--user-padding-left);
  padding-right: var(--user-padding-right);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1.7;
}

strong {
  font-size: 30px;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#register-form > div {
  display: flex;
  gap: 90px;
}

#register-form {
  padding-left: var(--user-padding-left);
  padding-right: var(--user-padding-right);
}
.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  font-size: 20px;
  color: #3c3c3c;
}

input {
  height: 40px;
  /* padding: 0 10px; */
  font-size: 20px;
  color: inherit;
  border: 2px solid #bebebe;
  padding: 0 3px;
  appearance: none;
  width: 100%;
}
#register-form label {
  height: 40px;
  display: flex;
  align-items: flex-end;
}
input:focus {
  /* border: none; */
  outline: none;
}

input:invalid:not(:focus, :placeholder-shown) {
  border-color: #fa0000;
  background-color: #ffe6e2;
}

input:placeholder-shown {
  font-size: 13px;
}

.error-message {
  height: 30px;
}

#email + .error-message::before {
  content: "";
  color: #ff0000;
  font-style: italic;
  font-size: 15px;
}

#email:invalid:not(:focus, :placeholder-shown) + .error-message::before {
  content: "* Please, enter a valid email";
}
